body{
    color: black;
    font-size: +24px;
    background: radial-gradient(circle at center,#ECEFF1,#FFFFFF);
}

button{
    min-height: 2em;
    background: #D50000;
    border: none;
    color: black;
    padding: 10px 25px;
}