<html lang="pt-BR">
    <head>
        <title>Cheat-Organizer</title>
        <meta name="author" content="Gabriel Rohden">
    
        <!-- Style sheets -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/show-case.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/configurations.css"/>

        <style id="main-style">


        </style>

    </head>
    <body ng-app="CheatsApp">

        <div class="cog"
             ng-click="openedModal=!openedModal; hideHalfCog()"
             ng-class="openedModal ? 'cog-opened':'cog-closed'"
             id="cog">
            <img src="assets/img/cog.png"/>
        </div>

        <div class="modal"
             ng-click="openedModal=false"
             ng-class="openedModal=='cog-modal' ? 'shown':'hidden'">
            <configurations>
                    <div id="configs-container" class="card settings-container">
                        <ul>
                            <li>
                                <label for="games_folder">Games folder</label>
                                <input type="text"
                                       persist-value
                                       name="games_folder"
                                       id="games_folder"
                                       class="modal-input"
                                       ng-model="configs.text[0].value"
                                       ng-click="getFolder()"
                                />
                                <input style="display:none;" id="folderDialog" type="file" nwworkingdir="{{configs.folder}}"  nwdirectory/>
                            </li>
                            <li>Show game by
                                <input type="radio" name="show_by" id="photo" value="photo" persist-value>
                                <label for="photo">Photo</label>
                                <input type="radio" name="show_by" id="cover" value="cover" persist-value>
                                <label for="cover">Cover</label>
                            </li>
                            <li>
                                <input type="checkbox" name="show_title" id="show_title" persist-value>
                                <label for="show_title">Show game title</label>
                            </li>
                        </ul>
                        <button id="save" persist-all>Save</button>
                    </div>
                </configurations>
        </div>

        <show-case></show-case>

        <!-- Vendor: Angular, followed by our custom Javascripts -->
        <script type="text/javascript" src="app/vendor/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="app/vendor/angular.js"></script>
        <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script> -->
       
        <!-- App -->
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/main.js"></script>
    
        <!-- Show case module -->
        <script type="text/javascript" src="app/showcase/showcase.module.js"></script>
        <script type="text/javascript" src="app/showcase/showcase.controller.js"></script>
        <script type="text/javascript" src="app/showcase/showcase.component.js"></script>
        
        <!-- Configuratons module -->
        <script type="text/javascript" src="app/configurations/configurations.module.js" ></script>
        <script type="text/javascript" src="app/configurations/configurations.service.js" ></script>
        <script type="text/javascript" src="app/configurations/configurations.controller.js" ></script>
        <script type="text/javascript" src="app/configurations/configurations.directive.js" ></script>
        <script type="text/javascript" src="app/configurations/option.directive.js" ></script>
        <script type="text/javascript" src="app/configurations/persist.directive.js" ></script>

    </body>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
</html>

