<h1 class="large show-case-title" >Chose a game</h1>
<!-- Games List -->
<div class="list-container">
    <div ng-repeat="game in games"
         class='item card'
         ng-click="manageGameContainer(game,$event)">
        <img ng-src="{{game.artPath}}"/>
        <div class="info-container">
                {{game.gameTitle}}
        </div>
    </div>
</div>

<div class="modal modal-z-index"
     ng-show="expanded"
     ng-click="expanded=false"></div>

<!-- Specific content container -->
<div class="above-cog"
     id="show-container"
     ng-show="expanded">
    <div class="show-image-container">
        <img ng-src="{{openedGame.artPath}}">
    </div>
    <div class="show-content-container">
        <div class='content'>
            <div>{{openedGame.gameTitle}}</div>
            <div class='content-list'>
                <label id='active-content'>
                    <input type='checkbox'>
                    Some ramdom text
                </label>
                <label id='inactive-content'>
                    <input type='checkbox'>
                    Some ramdom text
                </label>
            </div>
            <div>Cht exists: {{ exists(openedGame.chtPath) }}</div>
            <div ng-repeat="cheat in openedGame.cheatsGroup" class="cheat-group-block">
                <h3>{{ cheat.cheatTitle }}</h3>
                <p>{{ cheat.cheatCode }}</p>
            </div>
        </div>
    </div>
</div>