<h1 class="large" >Chose a game</h1>
<!-- Games List -->
<div class="list-container">
    <div ng-repeat="game in games"
         class='item card'
         ng-click="manageGameContainer(game,$event)">
        <img ng-src="{{game.artPath}}"/>
        <div class="info-container">
                {{game.title}}
        </div>
    </div>
</div>

<div class="modal modal-z-index"
     ng-show="expanded"
     ng-click="expanded=false"></div>

<!-- Specific content container -->
<div class="above-cog"
     id="show-container"
     ng-show="expanded">
    <div class="show-image-container">
        <img ng-src="{{openedGame.artPath}}">
    </div>
    <div class="show-content-container">
        <div class='content'>
            <div>{{openedGame.title}}</div>
            <div class='content-list'>
                <div id='active-content'>
                    <input type='checkbox'>
                    <div>Some ramdom text</div>
                </div>
                <div id='inactive-content'>
                    <input type='checkbox'>
                    <div>Some ramdom text</div>
                </div>
            </div>
        </div>
    </div>
</div>