
.large{
    font-size: 72px;
}

#showcase{
    position: relative;
    transition: transform 2s;
    margin: 2% 6%;
    height: auto;
    width: auto;
    border-radius: 3px;
    padding: 60px 50px;
}

#showcase .list-container{
    padding: 0px 20px;
}

#showcase .list-container::before, #showcase .list-container::after {
	content: '';
	display: block;
    margin: 2% 6%; 
	height: 2px;
	width: auto;
	background: rgba(100,100,100,0.5);
}

#showcase .item{
    display: inline-block;
    position: static;
    padding: 5px 10px;
    min-width: 400px;
    width: 438px;
    height: 212px;
    margin: 20px 20px;
    transition: all 1s;
    border: 1px solid rgba(0,0,0,0.1);
}

#showcase .bounce:hover{
    cursor: pointer;
    transform: scale(1.12);
    box-shadow: 8px 15px 15px  rgba(100,100,100,.6);
}

.item img{
    float: left;
    display: inline-block;
}

.info-container{
    display: inline-block;
    float: right;
    padding: 5px;
    margin-left: 10px;
    height: auto;
}

.title{
    margin: 5px 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.show *{
    transition: all 3s;
}

.show {

}

