#showcase{
    transition: transform 2s;
    margin: 2% 6%;
    height: auto;
    width: auto;
    border-radius: 3px;
    padding: 60px 50px;
}

.list-container{
    margin: 0px 20px;
}

.list-container::before, .list-container::after {
    content: '';
    width: auto;
    height: 2px;
    margin: 2% 6%;
    display: block;
    background: rgba(100,100,100,0.5);
}

.item{
    margin: 1em;
    padding: 0.5em;
    cursor: pointer;
    min-width: 438px;
    transition: all 1s;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
}

@media screen and (max-width:1070px)  {

    .item{
        width: 86%;
        height:200px;
        margin-left: 5%;
        margin-right: 5%;
        background: lightslategray;
        transition: all 2s;
    }
    
}

.item img{
    float: left;
    display: inline-block;
}

.info-container{
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    height: auto;
}

.title{
    margin: 5px 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}
#show-container {
    background-color: #263238;
    position: absolute;
    min-width: 450px;
    color: white;
    bottom: 10%;
    right: 5%;
    left: 5%;
    top: 5%;
}

.show-image-container img {
    left: calc(50% - 140px/2);
    top: calc(50% - 100px);
    position: relative;
}

.show-content-container, .show-image-container {
    display: inline-block;
    height: calc(100%);
}

.show-image-container {width: 31%;}

.show-content-container {
    border-left: 2px solid rgb(244, 245, 245);
    position: absolute;
    width: calc(69% - 2px);
    text-align: center;
}

.content {
    top: 10%;
    position: relative;
    height: 90%;
}


#inactive-content, #active-content {
    display:inline-block;
    width:49%;
    position: relative;
    border:1px solid red;
}