<input type="checkbox" name="toggle" id="toggle"/>
<label for="toggle" id="cog"></label>

<div class="modal" ng-click="hide()"></div>

<div id="configs-container" class="card">
    <ul>
        <li><input ng-model='configs.folder'></li>
        <li>
            <label for="games_folder">Games folder</label>
            <input type="text" 
                   name="games_folder" 
                   id="games_folder"
                   class="modal-input"
                   ng-model="configs.folder"
                   ng-click="getFolder()" 
            />
            <input style="display:none;" id="folderDialog" type="file" nwworkingdir="{{configs.folder}}"  nwdirectory/>
        </li>
        <li>Show game by
            <input type="radio" name="show_by" id="cover" value="cover">
            <label for="cover">Cover</label>
            <input type="radio" name="show_by" id="photo" value="photo">
            <label for="photo">Photo</label>
        </li>
        <li>
        <input type="checkbox" id="show_title">
        <label for="show_title">Show game title</label>
        </li>
    </ul>
    <button id="save">Save</button>
</div>

